@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* 

- Mobile: 375px
- Desktop: 1440px

*/

:root {
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: var(--light-gray);
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.card {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1em;
    background: white;
    border-radius: 25px;
    max-width: 20em;
}

.card * {
    background: white;
}

.card img {
    border-radius: 25px;
    margin-bottom: 1em;
    max-width: 100%;
}

.card h1 {
    font-size: 20px;
    color: var(--dark-blue);
}

.card p {
    color: var(--grayish-blue);
}
