@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    font-size: margin: 1rem;
    background-color: var(--light-gray);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1em;
    background: white;
    border-radius: 25px;
    max-width: 20em;
    box-shadow: 5px 15px 20px 0px rgba(0,0,0,0.10);
    margin: 0.938rem
}

.card * {
    background: white;
}

.card img {
    border-radius: 25px;
    margin-bottom: 1em;
    max-width: 100%;
}

.card h1 {
    margin-top: .5em;
    margin-bottom: 1em;
    font-size: 20px;
    color: var(--dark-blue);
}

.card p {
    margin-bottom: 1.5em;
    color: var(--grayish-blue);
}
